<body style="background-color:powderblue;">
<h1> Today's weather is <strong>COLD!</strong> </h1>
<h1> Want to know about tomorrow's weather? Click the lick below: </h1>

<%= link_to 'About', welcome_about_path %>
</body>
